//Created by jiangyulin on 14-1-24.
extends ../layout/layout_desktop
block content
    #main
        #data_container
            if (data)
                each item in data
                    div.new_photo_container(id = '#{item.photo_id}')
                        div.delete_action(onclick="delete_action('#{travelID}','#{item.photo_id}');") X
                        image(src='/data/#{item.photo_id}')
        #personal_operate
            div.custom-input
                span 添加图片
                form(name='upload', enctype="multipart/form-data", method="post")
                    input#addphoto(type='file', name='photo')
                    input#travelID(type='hidden',value= "#{travelID}")
    script(src="/javascripts/travel_edit.js", type="text/javascript")