//Created by jiangyulin on 14-1-20.
extends ../layout/layout_desktop

block content
    #main
        #data_container
            //用作后台输出数据的呈现
            if(data)
                each val in data
                    .item
                        .item_img
                            img(src='/user/#{val.user_id}')
                        .data_wrap_container
                            .data_wrap
                                .data_wrap_t
                                    a.data_wrap_c(href='#')
                                .data_title_wrap
                                    span
                                        a(href="/travel/show/#{val._id}") #{val.title}
                                .travel_data_wrap
                                    img.travel_image(src='/travel/cover/#{val._id}')
                                    p.travel_des #{val.describe}
                                .data_detail_container
                                    ul.data_detail
                                        li.start_time
                                            span.date #{val.startTime}
                                        li.liked
                                            a.btn-like 喜欢
                                        li.comments
                                            a.btn-commit 回复

                                        li
                                            button.href.float-right.btn(href="/travel/upload/#{val._id}") 上传
                                            button.delete-btn.btn.float-right(travel_id = "#{val._id}") 删除
                                            button.href.btn.float-right(href="/travel/edit/#{val._id}") 编辑
        #right_data_container
            #personal_operate
                #operate
                    ul.operate_wrap
                        li.operate
                            a.link(href="/travel/new")
                                span 新的旅程
        script(src="/javascripts/travel/index.js", type="text/javascript")
