//Created by jiangyulin on 14-5-10.
extends ../layout/layout_desktop
block content
    #main
        #data_container
            #travel_info
                div.hide#travelID(travel_id="#{travel._id}")
                div.avtar-container
                    img.avtar(src="/user/#{travel.user_id}")
                div.travel-detail
                    h2.travel_title #{travel.title}
                    p.travel_describe #{travel.describe}
                    span.data #{travel.view}
            #show_container
                if(data)
                    each item in data
                        div.travel-img-container(id='#{item.photo_id}')
                            img.travel-img(src="/data/#{item.photo_id}")
                            div.travel-img-describe
                                p #{item.describe}
                            div.travel-img-container-detail
                                if(item.location_id)
                                    span.float-left.position(location_id='#{item.location_id}')
                                if(item.createDate)
                                    span.date.float-left.display-inline #{item.createDate}
                                ul.travel-img-container-btns.display-inline
                                     li
                                        a.btn-like() 喜欢
                                     li
                                        a.btn-commit() 评论
                            div.travel-comments-container
                                ul.travel-comments
                                div.travel-comment-form-container
                                    hr

                                    form.travel-comment-form
                                        div.hide.reply_name_item
                                            span 面包牛奶牙膏
                                            div.delete_user.delete_icon
                                        input(name="to_user_id", type="hidden", readonly="readonly")
                                        input(name="to_user_nick_name", type="hidden", readonly="readonly")
                                        textarea.form-contents(name="contents")
                                        button.form-submit.highlight(type="submit",value="") 提交

            #comments_container
                .travel-comments-container(style="display:block")
                    ul.travel-comments
                    div.travel-comment-form-container
                       form.travel-comment-form#travel-comment-form
                            div.hide.reply_name_item
                                span
                                div.delete_user.delete_icon
                            input(name="to_user_id", type="hidden", readonly="readonly")
                            input(name="to_user_nick_name", type="hidden", readonly="readonly")
                            textarea.form-contents(name="contents")
                            button.float-right#reply-to-travel.highlight(type="submit",value="") 提交
        #right_data_container
            .personal_operate
                ul.operate_wrap
                    li.operate
                        a.link(href="/travel/upload/#{travel._id}")
                            span 上传新图片
                    li.operate
                        a.link(href="/travel/edit/#{travel._id}")
                            span 编辑
                    li.operate
                        a.link
                            span 评论
                    li.operate
                        a.link
                            span 赞一下


    script(type='text/javascript', src="/javascripts/travel_show.js")